<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>$digest vs $apply demo</title>

</head>
<body ng-app="app">
    <div id="app-root" ng-controller="emp">
        a = <input type="number" ng-model="a">
        <div>a = {{a}}</div>
        <hr>

        b = <input type="number" ng-model="b">
        <div>b = {{b}}</div>
        <hr>

        <button ng-click="calcSum()">Calc Sum</button>
        <button onclick="btnClick()">Sum</button>
        <div>sum = {{s}}</div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script
    src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>
</html>