<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digest Cycle demo</title>

</head>
<body ng-app="app">
    <div ng-controller="emp">
        a = <input ng-model="a">
        <div>a = {{a}}</div>
        <hr>

        b = <input ng-model="b">
        <div>b = {{b}}</div>
        <hr>

        c = <input ng-model="c">
        <div>c = {{c}}</div>
        <hr>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>